<div class="card mb-3 w-100">
    <div class="card-body">
        <h5 class="card-title"><i class="bi bi-exclamation-square text-warning"></i> {{ lang.user_na }}</h5>
        <div>
            You can:
            <ul class="list-unstyled">
                <li>Place orders</li>
                <li>View some of your previous orders</li>
            </ul>
        </div>
        <p>
            To access your {{ lang.cabinet }} and enjoy all features, please <a href="{{ page.singin }}">{{ lang.action_singin }}</a> or <a href="{{ page.singup }}">{{ lang.action_singup }}</a>
        </p>
    </div>
</div>
