<div class="card mb-3 w-100">
    <div class="card-body">
        <h5 class="card-title"><i class="bi bi-exclamation-square text-warning"></i> {{ lang.user_na }}</h5>
        <div>
            Ви можете:
            <ul class="list-unstyled">
                <li>Оформлювати замовлення</li>
                <li>Переглядати деякі свої попередні замовлення</li>
            </ul>
        </div>
        <p>
            Щоб увійти в особистий кабінет і мати доступ до всіх можливостей — будь ласка, виберіть <a href="{{ page.singin }}">{{ lang.action_singin }}</a> або <a href="{{ page.singup }}">{{ lang.action_singup }}</a>
        </p>
    </div>
</div>
